@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: "Pretendard", serif;
}

body {
  background-color: #44398A;
}

.profile {
  width: 100px;
  height: 100px;

  border-radius: 100%;

  border: 2px solid white;
  background-image: url("./profile.jpg");
  background-size: cover;
  background-position: center;
}

.main {
  color: white;
  font-size: 20px;

  margin-top: 30px;
  margin-bottom: 10px;
}

.sub {
  color: white;
  font-size: 14px;

  margin-top: 0px;
  margin-bottom: 30px;
}

.wrap {
  width: 350px;
  margin: 30px auto 0px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap>a {
  font-size: 14px;
  font-weight: bold;
  color: #44398A;

  background-color: white;
  border-radius: 8px;

  box-shadow: 3px 3px 5px 0px black;

  width: 300px;
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  text-decoration: none;
}

.wrap>a:hover {
  background-color: #f2f2f2;
}